@import '../../styles/settings.scss';

.recommendation-hero h1 {
  padding: 2em 0;
}

.cwp-recommendation {
  display: block;
  margin-left: 0;
  margin-right: 0;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.cwp-main {
  margin-top: 2rem;
  margin-left: 4em;
  margin-right: 4rem;
}

.section-title {
  display: inline-flex;
  flex-direction: column;
  font-family: Petrona;

  &:after {
    @include vertical-line;
    width: auto;
  }
}

.cab {
  .cab-heading {
    vertical-align: text-top;
    padding-left: 5px;
    font-size: 1.3rem;
  }
  &:after {
    @include vertical-line;
    width: auto;
  }
}

.cost-benefit-table li {
  list-style-type: none;
}

.cost-benefit-table li:not(:last-child) {
  margin-bottom: .5rem;
}

.section-content li {
  list-style-type: none;
  font-size: 1.3rem;

  &:before {
    content: '\2022';
    color: $secondary;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

hr {
  border: 2px solid $light;
}

@media (min-width: 64em) {
  .cwp-recommendation {
    display: flex;

    .divider {
      border-left: 1px solid $light;
      padding-top: 1.5rem;
      margin-top: -1.5rem;
    }
  }
}
