@import '../../styles/settings.scss';

body {
  font-family: Petrona;
}

.cwp-recommendation {
  display: block;
  margin-left: 0;
  margin-right: 0;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.cwp-main {
  margin-top: 2rem;
  margin-left: 4em;
  margin-right: 4rem;
}

  .section-title {
    display: inline-flex;
    flex-direction: column;
    font-family: Petrona;

    &:after {
      @include vertical-line;
      width: auto;
    }
  }

  .cab {
    .cab-heading {
      vertical-align: text-top;
      padding-left: 5px;
    }
    &:after {
      @include vertical-line;
      width: auto;
    }
  }

  .section-content, h4, li {
    font-family: Petrona !important;
  }

  li {
    list-style-type: none;
  }

  hr {
    border: 2px solid $light;
  }

@media (min-width: 64em) {
  .cwp-recommendation {
    display: flex;

    .usa-layout-docs__sidenav {
      margin-right: 2rem
    }

    .cwp-main {
      margin-left: 2rem;
    }

      .divider {
        border-left: 1px solid $light;
        padding-top: 1.5rem;
        margin-top: -1.5rem;
      }
  }
}