---
layout: default
pagination:
  data: collections.blog
  size: 1
  alias: blog_post
permalink: "/blog/{{ blog_post.fileSlug }}/"
---


<div class="page-banner" data-bg-color="light">
    <div class="page-banner-inner">
        <h1>{{ blog_post.title }}</h1>
        <div class="page-banner-subhead">Posted on {{ blog_post.date | readableDate }}</div>
    </div>
</div>
<div class="breadcrumb-wrapper">
    <nav class="breadcrumb" aria-label="Breadcrumb">
        <ol>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <span>/</span>
                <a href="/blog">Blog</a>
            </li>
            <li aria-current="page">
                <span>/</span>
                <strong>{{ blog_post.title }}</strong>
            </li>
        </ol>
    </nav>
</div>
<div class="page-content page-content-blog">
    <div class="page-content-prose l-stack">
        {% if blog_post.content %}
            {{ blog_post.content | markdown | safe }}
        {% endif %}
    </div>
</div>