@import '../../styles/settings.scss';

.usa-hero {
  color: $dark;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-left: 5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.bgImage {
  flex-basis: unset;
  margin-left: auto;
}

.usa-hero-callout {
  flex-basis: unset;
  padding-right: 1rem;
}

.usa-grid {
  display: flex;
  align-items: center;
  min-height: 18.75rem;

  &.right {
    flex-direction: row-reverse;
  }
}

.white-text h1{
  color: white;
}

.primary {
  background-color: $primary;
}

.secondary {
  background-color: $secondary;
}

.info {
  background-color: $info;
}

.light {
  background-color: $light;
}

.dark {
  background-color: $dark;
}

.cwp-search-hero {
  padding-bottom: 2rem;

  .usa-hero-callout {
    width: 44rem;
    h1 {
      margin-bottom: .5rem;
    }
  }
}


@media (max-width: 64em) {
.cwp-search-hero {
  .usa-hero-callout {
    width: 100%;
  }
}
}
