/* GENERAL */
$theme-image-path: '../../node_modules/uswds/src/img';
$theme-show-notifications: false;

$theme-utility-breakpoints: (
  // 160px:
  "card": false,
  // 240px:
  "card-lg": false,
  // 320px:
  "mobile": false,
  // 480px:
  "mobile-lg": true,
  // 640px:
  "tablet": true,
  // 800px:
  "tablet-lg": true,
  // 1024px:
  "desktop": true,
  // 1200px:
  "desktop-lg": true,
  // 1400px:
  "widescreen": false
);

/* COLORS */
$primary: #f2b039;
$secondary: #fe6659;
$info: #522a10;
$light: #d9d9d9;
$white: #fff;
$dark: #272727;
$header-text: #333240;
$link-text: #05447e;

/* TYPOGRAPHY */
$theme-respect-user-font-size: true;
$theme-root-font-size: 12px;
$theme-font-path: '../../node_modules/uswds/src/fonts';
$theme-font-type-sans: 'open-sans';
$theme-style-body-element: true;

/* SPACING */
$theme-grid-container-max-width: none;

/* COMPONENTS */
$theme-hero-image: '';
$theme-card-border-width: 0;

/* GENERAL CLASS OVERRIDES */
.usa-button {
  background-color: $secondary !important;
  border: 3px solid $secondary !important;
  border-radius: 1rem !important;
  color: $dark;
}

.usa-button:hover {
  background-color: $white !important;
  color: $dark !important;
  border: 3px solid $secondary !important;
}

@media (min-width: 40em) {
  .usa-card--flag .usa-card__media {
    width: 22.5rem !important;
    align-items: center;
  }

  .usa-card--flag .usa-card__body,
  .usa-card--flag .usa-card__footer,
  .usa-card--flag .usa-card__header {
    margin-left: 22.5rem !important;
  }

  .usa-card--flag.usa-card--media-right .usa-card__body,
  .usa-card--flag.usa-card--media-right .usa-card__footer,
  .usa-card--flag.usa-card--media-right .usa-card__header {
    margin-right: 22.5rem !important;
    margin-left: 2rem !important;
  }

.usa-nav__primary .usa-nav__primary-item a:hover {
  text-decoration: underline;
}

  main.cwp-main {
    border-top: none;
    .usa-section.cwp-section {
      padding-top: 0;
    }
  }
}

@media (max-width: 800px) {
  main.cwp-main {
    .usa-section.cwp-section {
      padding-top: 0;
    }
  }
}

/* MIXINS */
@mixin vertical-line {
  content: '';
  left: 0;
  right: 0;
  background: $secondary;
  height: 0.25rem;
  border-radius: 1rem;
  margin-top: .35em;
}
