// your-project/settings.scss

/* GENERAL */
$theme-image-path: '../../node_modules/uswds/src/img';
$theme-show-notifications: false;

/* TYPOGRAPHY */
$theme-respect-user-font-size: false;
$theme-root-font-size: 14px;
$theme-font-path: '../../node_modules/uswds/src/fonts';
$theme-font-type-sans: 'open-sans';
$theme-style-body-element: true;

/* SPACING */
$theme-grid-container-max-width: 'desktop-lg';

/* COMPONENTS */
$theme-hero-image: '/hero.png';
