/* GENERAL */
$theme-image-path: '../../node_modules/uswds/src/img';
$theme-show-notifications: false;

/* TYPOGRAPHY */
$theme-respect-user-font-size: true;
$theme-root-font-size: 12px;
$theme-font-path: '../../node_modules/uswds/src/fonts';
$theme-font-type-sans: 'open-sans';
$theme-style-body-element: true;

/* SPACING */
$theme-grid-container-max-width: 'desktop-lg';

/* COMPONENTS */
$theme-hero-image: '../../static/img/hero.png';
