html,
body {
  // this background-color isn't working.
  background-color: theme('colors.grey.light');
}

h1 {
  font-size: 3.125rem !important;
  font-weight: 900;
  color: #333240;
  line-height: 1.3;
  font-family: Petrona !important;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #333240;
  line-height: 1.125;
  margin-top: 4rem;
  font-family: Petrona !important;
}

h3 {
  font-size: 1.625rem;
  font-weight: 900;
  color: #333240;
  line-height: 1.2;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  font-family: Petrona !important;
}

h4 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #333240;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-family: Petrona !important;
}

p {
  font-size: 1.3rem;
  font-weight: 300;
  color: #333240;
  line-height: 1.45;
  margin-bottom: 1rem;
  strong {
    font-weight: 700;
  }
}

p strong {
  font-weight: 700;
}

li {
  font-size: 1.3rem;
  font-weight: 300;
  color: #333240;
}

li:not(:last-child) {
  margin-bottom: 1rem;
}

a {
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  color: #05447e;
}

a:hover {
  text-decoration: underline;
  color: #fe6659;
}
