---
layout: default
title: All practice areas
---

<div>
    <div class="flex items-end bg-gray-300 bg-no-repeat bg-right" style="background-image: url({{ topicsIndex.hero | replace('/src', '') }});">
        <div class="mx-auto w-full">
            <div class="max-w-screen-lg py-24 pl-[5%]">
                <h1 class="font-serif text-5xl font-bold text-white">{{ title }}</h1>
            </div>
        </div>
    </div>
    <div class="hidden md:block mx-auto px-8 md:px-[5%]">
        <nav class="flex py-8" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="/" class="font-medium text-navy hover:underline">Home</a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center gap-2">
                        <span>/</span>
                        <strong class="text-navy hover:underline font-bold">{{ title }}</strong>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <div class="md:block mx-auto px-8 md:px-[5%]">
        <div class="mb-12">
            <h2 class="font-serif text-4xl font-bold mb-12 mt-0">
                <span class="border-b-[4px] border-[#fe6659] pb-2">K</span>
            </h2>
            <ul>
                <li class="mb-4">
                    <a class="text-[21px] text-navy hover:underline" href="/compare/kin-states/">Kin Finding</a>
                </li>
            </ul>
            <h2 class="font-serif text-4xl font-bold mb-12 mt-0">
                <span class="border-b-[4px] border-[#fe6659] pb-2">O</span>
            </h2>
            <ul>
                <li class="mb-4">
                    <a class="text-[21px] text-navy hover:underline" href="/compare/background-checks/">Out of State Child Abuse and Neglect Checks (Adam Walsh Checks)</a>
                </li>
            </ul>
        </div>
    </div>
</div>



