@import '../../styles/settings.scss';

li.usa-card {
  list-style-type: none;
}

.card {
  font-family: 'inherit';
  border-radius: 0;
  border: 0;
}

.card .sm {
  background-color: $white;
  justify-content: center;
}

.card .md {
  background-color: $primary;
  justify-content: center;
}

.card .lg {
  background-color: $info;
  color: $white;
  justify-content: center;
  min-height: 20rem;

  h3 {
    color: $white;
  }

  p {
    color: $white;
  }
}

.lg .media {
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.md .media {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.card .topic {
  background-color: $light;
  justify-content: space-around;

  .usa-card__img {
    overflow: visible;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.image {
  border-radius: 1rem;
}

.lg h3,
.md h3,
.sm h3 {
  font-size: 1.75rem;
}

.content {
  flex: inherit;
}

.smallFooter {
  padding: 0;
}

.topic .content {
  padding: 1rem;
  text-align: center;
  background-color: $primary;
  height: 100%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  height: 100%;
}

.card .topic:hover {
  background-color: $primary;
  border-radius: 0.5rem;
}

.usa-card__img {
  background-color: transparent !important;
}

.usa-card__container {
  justify-content: space-between;
}

.usa-card,
.usa-card:last-child {
  margin-bottom: 1rem;
}

.usa-card__container.compare {
  height: auto;
  border: 1px solid $light !important;
  .media {
    padding: 0.5rem 0;
  }

  .content {
    padding-top: 0.5rem;
    button {
      // make button wider so text fits on one line
      width: 130%;
      margin-left: -15%;
      max-width: map-get($breakpoints, 'mobile-lg') {
        width: 100%;
        margin-left: 0;
      }
      text-align: center;
      margin-top: 1rem;
      text-decoration: underline;
    }

    .centered {
      width: 120%;
      margin-left: -10%;
      text-align: center;
      .implemented-icon,
      .partial-icon {
        margin-left: 0;
      }
    }

    ul {
      list-style: none;
      padding-inline-start: 0;
      li {
        margin-bottom: 0.5rem;
        a {
          font-size: 1rem;
        }
      }
    }
  }

  .implemented-icon {
    margin-left: -1.5rem;
  }
  .partial-icon {
    margin-left: -1.5rem;
    height: 15px;
  }

  .not-implemented {
    padding-left: 1.2rem;
    color: $not-implemented-text;
  }

  .implemented {
    padding-left: 1.5rem;
  }
  .usa-card {
    width: 15rem;
  }
  .usa-card__header {
    padding-bottom: 0;
    height: 3.5rem;
  }
  h3 {
    font-size: 1.3rem;
    text-align: center;
  }
}

@media (min-width: 64em) {
  .compare-width {
    width: 20% !important;
  }
}
