@import '../styles/settings.scss';

.cwp-hero {
  padding-bottom: 5rem;
}

.cwp-topic-hero {
  min-height: 18.75rem;
  h1 {
    word-wrap: break-word;
  }
}

.home {
  h2 {
    font-size: 2.5rem;
  }
}

.usa-hero.primary {
  padding-left: 5rem;
  max-height: 500px;
}

.primary {
  .usa-hero-callout {
    flex-basis: unset;
  }

  .bgImage {
    flex-basis: unset;
    margin-left: auto;
  }
}

.mission-hero {
  padding-left: 0;

  a {
    color: inherit;
  }

  .usa-grid {
    align-items: start;
  }

  .bgImage {
    flex-basis: auto;
    margin-left: 0;
  }
  .usa-hero-callout {
    flex-basis: auto;
    max-width: 60%;
  }

  .usa-hero-callout.usa-section-dark {
    padding-right: 1rem;
  }

  .mission-content {
    font-size: 1.5rem;
    font-weight: 200;
  }

  h2 {
    display: inline-flex;
    flex-direction: column;

    &:after {
      @include vertical-line;
      width: auto;
    }
  }
}

.usa-search {
  margin-top: 1rem;

  .search-icon {
    background-color: $light;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .usa-input {
    border-top: 0;
    border-left: 0;
    border-bottom: 2px solid $dark;
    width: 60%;
    max-width: 60%;
  }

  .usa-input:focus {
    outline-color: $light;
  }
}

.cwp-topics-main {
  max-width: 90%;
  margin-left: 5%;
}
.cwp-search-main {
  max-width: 90%;
  margin-left: 5%;
  h2 {
    font-size: 1.625rem;
    color: $link-text;
    border-bottom: 1px solid $link-text;
    width: fit-content;
    line-height: 1.25rem;
    margin-bottom: 0;
  }
  p {
    margin-block-start: 0;
  }
}

.filters {
  padding-top: 2rem;
  max-width: 90%;
  margin-left: 5%;
  li {
    padding-right: 1.5rem;
  }
  .usa-button {
    background-color: inherit !important;
    border: none !important;
    padding: 0 0 .25rem .25rem;
    border-radius: 0 !important;
  }
  .usa-button:hover {
      color: $secondary !important;
      border-bottom: 4px solid $secondary !important;
    }
  .active {
    color: $secondary;
    border-bottom: 4px solid $secondary !important;
  }
}

.cwp-recommendations-main {
  max-width: 90%;
  margin-left: 5%;
  h2 {
    display: inline-flex;
    flex-direction: column;

    &:after {
      @include vertical-line;
      width: auto;
    }
  }


  ul {
    padding-inline-start: 0;
  }

  li {
    list-style-type: none;
  }
}

@media (max-width: 1100px) {
  .usa-search {
    .usa-input {
      width: 100%;
      max-width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .usa-grid {
    &.right {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;

      .usa-hero-callout.usa-section-dark {
        padding: 0 2rem;
      }
    }
  }

  .mission-hero, .cwp-home-hero {
    .usa-hero-callout.usa-section-dark {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2rem;
    }

    .usa-grid {
      flex-direction: column;
    }

    .mission-title {
      align-self: center;
      padding: 0;
    }
  }

  .usa-search {
    margin-left: 0rem;
    padding-right: 2rem;
  }

  .usa-hero {
    width: auto;
    margin: 0;
    padding: 0 !important;
    max-height: none !important;

    .usa-hero-callout {
      max-width: 100%;
    }

    h2 {
      margin: 1rem 0;
    }
  }
}
