@import '../styles/settings.scss';

.cwp-main .mission-hero {
  padding-left: 0;

  .usa-grid {
    align-items: start;
  }

  .usa-hero-callout.usa-section-dark {
    padding-right: calc(60% - 50vw);
  }

  .mission-title {
    display: inline-flex;
    flex-direction: column;
    color: $header-text;
    font-family: Petrona;
    font-size: 2.375rem;

    &:after {
      @include vertical-line;
      width: auto;
    }
  }
}
