<div class="doris-day">
  <div class="doris-day-logo">
    <img src="/images/doris-duke.svg" alt="Logo for the Doris Duke Foundation" />
  </div>
  <p>The Prevention section is generously supported by the Doris Duke Foundation as part of the <a href="https://www.ddf-opt-in.org/">OPT-In for Families Initiative</a>.</p>
</div>