<footer class="footer">
  <div class="l-wrapper">
    <div class="footer-inner">
      <div class="footer-logos">
        <h3>Made in cooperation with</h3>
        <ul>
          <li>
            <a href="https://www.foster-america.org">
              <img src="/images/footer/foster-america-logo.svg" alt="Foster America" />
            </a>
          </li>
          <li>
            <a href="https://www.newamerica.org/new-practice-lab">
              <img src="/images/footer/new-america-logo.svg" alt="New America" />
            </a>
          </li>
          <li>
            <a href="https://www.thinkof-us.org/">
              <img src="/images/footer/thinkofus-logo.svg" alt="Think of Us" />
            </a>
          </li>
          <li>
            <a href="https://bloomworks.digital">
              <img src="/images/footer/bloom-works-logo.svg" alt="Bloomworks Digital" />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-copyright">
        <p>&copy; {{ helpers.currentYear() }}</p>
      </div>
    </div>
  </div>
</footer>