---
layout: default
title: About
---

<div class="page-banner">
  <div class="page-banner-inner">
      <h1>{{ about.hero.title }}</h1>
  </div>
</div>
<div class="breadcrumb-wrapper">
  <nav class="breadcrumb" aria-label="Breadcrumb">
      <ol>
          <li>
              <a href="/">Home</a>
          </li>
          <li aria-current="page">
              <span>/</span>
              <strong>About</strong>
          </li>
      </ol>
  </nav>
</div>
<div class="page-content">
  <div class="toc">
    <div class="toc-inner">
      <h3>On this page</h3>
      <hr />
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#membership">Membership</a></li>
        <li><a href="#how">How it Works</a></li>
        <li><a href="#benefits">Benefits of Membership</a></li>
        <li><a href="#current">Current Members</a></li>
      </ul>
    </div>
  </div>
  <div class="page-content-prose l-stack" data-padded>
    <section>
      <h2 class="page-h2" id="about">About</h2>
      {{ about.about | markdown | safe }}
    </section>
    <section>
      <h2 class="page-h2" id="membership">Membership</h2>
      {{ about.membership | markdown | safe }}
    </section>
    <section>
      <h2 class="page-h2" id="how">How it Works</h2>
      {{ about.howItWorks | markdown | safe }}
    </section>
      <h2 class="page-h2" id="benefits">Benefits of Membership</h2>
      {{ about.benefitsOfMembership | markdown | safe }}
    <section>
      <h2 class="page-h2" id="current">Current Members</h2>
      {{ about.currentMembers | markdown | safe }}
    </section>
  </div>
</div>