@import '../../styles/settings.scss';

.usa-header.pd-header {
  background-color: $primary;
  border-bottom: 0.2rem solid $white;
  a {
    color: #333240;
    font-size: 1.125rem;
  }

  .usa-nav.pd-nav {
    padding: 1rem 0 1rem 0.5rem;
  }

  @media (min-width: 64em) {
    .usa-nav-container {
      max-width: 90%;
    }
  }
}
