@import '../../styles/settings.scss';

.usa-header.cwp-header {
  background-color: $primary;
  border-bottom: 0.1rem solid $white;
  a {
    color: $header-text;
    font-size: 1.125rem;
  }

  .usa-nav.cwp-nav {
    padding: 1rem 0 1rem 0.5rem;
  }

  .cwp-logo {
    vertical-align: super;
    margin: auto;
    max-height: 2.8125rem;

    content: url('../../images/header/cwp-logo.svg');
    @media (max-width: map-get($breakpoints, 'mobile-lg')) {
      content: url('../../images/header/cwp-logo-mobile.svg');
      margin-top: 1rem;
    }

    &:hover {
      cursor: pointer;
      background-image: linear-gradient(
        to right,
        $secondary 0%,
        $secondary 100%
      );
      background-repeat: repeat-x;
      background-position: 0 100%;
      background-size: 100% 3px;
    }
  }

  .search-icon {
    padding-left: 0.5rem;
    margin: auto;
  }

  @media (max-width: map-get($breakpoints, 'tablet-lg')) {
    &.sticky-nav {
      position: sticky;
      top: 0px;
    }

    .usa-navbar {
      .usa-menu-btn {
        background-color: $primary;
        font-size: 1.125rem;
        color: $header-text;
        font-weight: bold;
        text-transform: none;

        .menu-button {
          img {
            margin: 0 0.5rem;
          }
          &.close {
            background-color: black;
            border-radius: 10px;
            color: white;
            background-color: $header-text;
            padding: 0.25rem 0.5rem 0.25rem 0.25rem;
            &.search {
              padding: 0.25rem 0.25rem 0.25rem 0.5rem;
            }
          }
        }
      }
    }

    .usa-nav.cwp-nav {
      padding: 1rem;
      height: fit-content;
      width: 80%;
      top: 3rem;
      left: 0;
      right: auto;
      background-color: $info;
      animation: none !important;

      &.search-nav {
        width: 100%;

        .usa-search {
          padding: 0;
          @media (max-width: map-get($breakpoints, 'mobile-lg')) {
            display: flex;
            align-items: center;
          }
        }

        .usa-input {
          background: $info;
          border-color: $white;
          color: $white;
          @media (max-width: map-get($breakpoints, 'mobile-lg')) {
            width: 80%;
            &:focus {
              outline-color: $white;
              border-bottom-width: 0px;
            }
          }
        }

        // Hide "clear" button in edge/chrome
        input[type='text']::-ms-clear {
          display: none;
          width: 0;
          height: 0;
        }
        input[type='text']::-ms-reveal {
          display: none;
          width: 0;
          height: 0;
        }
        input[type='search']::-webkit-search-decoration,
        input[type='search']::-webkit-search-cancel-button,
        input[type='search']::-webkit-search-results-button,
        input[type='search']::-webkit-search-results-decoration {
          display: none;
        }
        // end

        .usa-button {
          background-color: $info !important;
          border-radius: 0 !important;
          &.mobile-search-button {
            @media (max-width: map-get($breakpoints, 'mobile-lg')) {
              border: 0.25rem solid $white !important;
              border-left-style: none !important;
              padding: 1rem;
              &:focus {
                outline-offset: -0.25rem;
                outline-color: $white;
                border-style: none !important;
              }
            }
          }
        }
      }

      // We dont want additional close button in menu nav overlay
      .usa-nav__close {
        display: none;
      }

      .menu-title {
        border-bottom: 1px solid $white;

        a.menu-link {
          font-family: Petrona;
          font-size: 1.5rem;
          color: $white;
        }
      }

      .usa-nav__primary-item {
        border-top: none;
        margin-left: -1rem;
        margin-bottom: 1rem;
      }

      a {
        color: $white;
      }

      .search {
        width: 100%;
      }
    }

    .usa-navbar {
      justify-content: space-between;
    }
  }

  .mobile-header-home-link {
    &:hover {
      background-color: inherit;
    }
  }

  @media (min-width: 64em) {
    .usa-nav-container {
      max-width: 90%;
    }

    .usa-nav__primary-item {
      margin: 0 1rem;
      border-top: none;
    }
  }

  .usa-menu-btn {
    background-color: $primary;
  }
}
