.cwp-footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem 7rem;

  .coop-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    .coop-text {
      font-family: Petrona;
      font-weight: bold;
      font-size: 14px;
    }

    .footer-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .logo-area {
      display: flex;
    }

    .logo-img {
      align-self: center;
      max-height: 2.5rem;
      &:not(first) {
        margin-right: 2rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .cwp-footer {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;

    .coop-container {
      width: 100%;

      .logo-img {
        margin: 1rem;
        max-height: 1rem;
      }

      .footer-content {
        display: flex;
        flex-direction: column;
      }
    }

    .coop-text {
      align-self: center;
    }

    .logo-area {
      margin-right: 0;
    }

    .cr-section {
      align-self: center;
    }
  }
}
