@import '../styles/settings.scss';

.topics-section {
  padding: 5rem 0;

  .topics-title {
    display: inline-flex;
    flex-direction: column;

    &:after {
      @include vertical-line;
      width: auto;
    }
  }
}

@media (max-width: map-get($breakpoints, 'tablet-lg')) {
  .topics-section {
    padding: 3rem 0;
  }
}
