.button {
    border-radius: var(--radius-lg);
    background: var(--c-blue);
    color: #fff;
    font-weight: var(--font-bold);
    display: inline-block;
    padding: 0.75rem 1.5rem;
    text-align: center;
}

.button:hover,
.button:focus {
    background-color: #fff;
    color: var(--c-blue);
}

.button[data-type="secondary"] {
  background: #fff;
  border: 0.25rem solid var(--c-blue);
  color: var(--base);
}