@import '../../styles/settings.scss';

.compare-section {
  .usa-card-group {
    row-gap: 1.3rem;
  }
  .row {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
    font-size: 1.25rem;
    @media (max-width: map-get($breakpoints, 'tablet-lg')) {
      flex-direction: column;
    }

    .total {
      font-weight: 400;
    }

    .show-hide-title {
      font-family: Petrona;
      font-size: large;
      font-weight: 900;
      padding-right: 1rem;
      color: $dark;
      align-self: center;
      @media (max-width: map-get($breakpoints, 'mobile-lg')) {
        padding-left: 0.25rem;
      }
    }

    .flex-start {
      display: flex;
      justify-content: flex-start;
    }

    .mobile-col {
      @media (max-width: map-get($breakpoints, 'tablet-lg')) {
        flex-direction: column;
      }

      @media (max-width: map-get($breakpoints, 'mobile-lg')) {
        padding: 0 0.5rem 0 0.5rem 0;
        align-self: flex-start;
      }
    }

    button {
      &.active {
        color: $dark;
        text-decoration: underline;
        text-decoration-color: $secondary;
      }
    }
    hr {
      height: 1rem;
      border: none;
      background-color: $link-text;
      width: 1px;
      margin: auto 0;
    }

    .implementation-legend {
      display: flex;
      width: 40%;

      :first-child {
        padding-right: 1.5rem;
      }

      @media (max-width: map-get($breakpoints, 'mobile-lg')) {
        width: 100%;
        padding: 0.5rem;
      }
    }

    .legend-area {
      display: flex;
      align-items: center;

      .implemented-icon,
      .partial-icon {
        height: 20px;
        margin-top: 0.25rem;
        padding-right: 0.75rem;
      }
    }
  }
}

.filter-section {
  form {
    display: flex;
    align-items: flex-end;
    @media (max-width: map-get($breakpoints, 'tablet-lg')) {
      flex-direction: column;
    }
  }

  fieldset {
    margin-right: 2rem;
    @media (max-width: map-get($breakpoints, 'tablet-lg')) {
      display: inline;
      width: 100%;
      margin-right: 0;
    }

    label {
      font-size: large;
      font-weight: 900;
      font-family: Petrona;
      padding-right: 1rem;

      @media (max-width: map-get($breakpoints, 'tablet-lg')) {
        width: 100%;
      }
    }

    select {
      border-top: none;
      border-left: none;
      border-right: none;
      padding-bottom: 0.1rem;
      min-width: 10rem;
    }

    .select {
      display: flex;
      align-items: baseline;
      @media (max-width: map-get($breakpoints, 'tablet-lg')) {
        flex-direction: column;
        align-items: normal;
      }
    }

    #pop,
    #admin {
      min-width: 10rem;
    }
    #rec {
      min-width: 13rem;
    }
  }
}
