---
layout: layouts/default.njk
---

<div class="page-banner">
  <div class="l-wrapper">
    <h2>{{ title }}</h2>
    {% if description %}<p>{{ description }}</p>{% endif %}
  </div>
    {%- if image -%}
      <div class="page-banner-img" style="--background: url('{{ image }}')"></div>
    {%- endif -%}
</div>

<div class="l-wrapper">
  <div class="l-section">
    {{ content | md | safe }}
  </div>
</div>