<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if title %}{{title}} | {% endif %}Child Welfare Playbook
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400..800;1,400..800&family=Space+Mono&display=swap" rel="stylesheet"><link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/favicon-180.png">
    <link rel="stylesheet" type="text/css" href="/theme.css"/>
  </head>
  <body{% if class %} class="{{ class }}"{% endif %}>
    {% include "partials/navbar.njk" %}
    <div class="content" data-pagefind-body>
      {{ content | md | safe }}
    </div>
    {% include "partials/footer.njk" %}

    {% if pagefind %}
      <div hidden>
        {% if pagefind.type %}<span data-pagefind-filter="pageType">{{ pagefind.type }}</span>{% endif %}
        {% if pagefind.image %}<span data-pagefind-meta="image">{{ pagefind.image }}</span>{% endif %}
        {% if tags %}
          {%- for tag in tags -%}
            <span data-pagefind-filter="topics">
              {%- if tag == "noTopic" -%}noTopic{%- else -%}{{ topics[tag].title }}{%- endif -%}
            </span>
          {%- endfor -%}
        {% endif %}
      </div>
    {% endif %}

    {% if class == "home" %}
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

    {% svgsprite %}
    <script src="/js/script.js"></script>
  </body>
</html>