---
layout: layouts/default.njk
---

<div class="page-banner" data-type="story" data-pagefind-filter="pageType:Story" style="--bg-image: url('/images/stories/{{ image }}')">
  <div class="l-wrapper">
    <h1>{{ title }}</h1>
  </div>
</div>

<div class="l-wrapper">
<div class="l-section">
<div class="l-stack">
      {{ content | md | safe }}
</div>
</div>
</div>

<div hidden>
  <span data-pagefind-meta="image">/images/stories/{{image}}</span>
  {%- for tag in tags -%}
    <span data-pagefind-filter="topics">{{ topics[tag].title }}</span>
  {%- endfor -%}
</div>