<footer class="bg-black py-8">
    <div class="mx-auto px-8 md:px-[5%] text-white">
        <div class="grid md:grid-cols-6 gap-12">
            <div class="w-full md:col-span-2 flex flex-col">
                <div class="font-serif mb-4">Made in cooperation with</div>
                <ul class="grid-cols-6">
                    <li>
                        <a href="https://www.coram.org/">
                            <img src="/src/images/logos/coram.png" alt="Coram" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
