<footer class="bg-[rgb(242,242,242)] py-8">
    <div class="mx-auto px-8 md:px-[5%] text-white">
        <div class="flex items-center md:grid-cols-8 gap-12">
            <div class="w-full md:col-span-8 flex flex-col">
                <div class="text-[#000] font-serif mb-4">Made in cooperation with</div>
                <ul class="flex flex-wrap gap-4">
                    <li>
                        <a href="https://www.foster-america.org">
                            <img src="/images/footer/foster-america-logo.svg" alt="Foster America" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.newamerica.org/new-practice-lab">
                            <img src="/images/footer/new-america-logo.svg" alt="New America" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.thinkof-us.org/">
                            <img src="/images/footer/thinkofus-logo.svg" alt="Think of Us" />
                        </a>
                    </li>
                    <li>
                        <a href="https://bloomworks.digital">
                            <img src="/images/footer/bloom-works-logo.svg" alt="Bloomworks Digital" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center justify--end w-full md:col-span-4">
                <div class="text-[#000] ml-auto">&copy; 2024</div>
            </div>
        </div>
    </div>
</footer>
